<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Demo</title>
</head>
<body>
    <h1>T-Test Teaser: Do differnet genders have different wake up time?</h1>
    <form action="/submit" method="post">

    	<label for="wkp-time">Enter your wake up time: </label>
		<input id="wkp-time" type="time" name="wkp-time" value="07:30" />

		  <p>Select your gender:</p>
		  <input type="radio" id="female" name="gender" value="female">
		  <label for="female">Female</label><br>
		  <input type="radio" id="male" name="gender" value="male">
		  <label for="male">Male</label><br>
		  <input type="radio" id="nonbinary" name="gender" value="nonbinary">
		  <label for="nonbinary">Non-binary</label>

		<br>
        <button type="submit">Submit</button>
    </form>

    <h1>Real-Time Test Outcome:</h1>
	<div id="output"></div>
        <p>{{output}}</p>
    </div>

</body>
</html>
